/* 列表页专有的css */
.sk{
    /*display: flex;*/
    /*justify-items: center;*/
    /*align-items: center;*/

    position: absolute;
    top: 80px;
    left: 540px;
    border-left: 1px solid #c81623;
    padding: 3px 0 0 14px;
}

.navTools{
    height: 47px;
    justify-content: flex-start;
}
.sk_list ul{
    display: flex;
    flex-direction: row;
}
.sk_list ul li a{
    display: block;
    line-height: 47px;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 700;
    color: #000;
}
.sk_con ul{
    display: flex;
    flex-direction: row;
}
.sk_con ul li a{
    display: block;
    line-height: 47px;
    padding: 0 20px;
    font-size: 14px;
}

.more::after{
    content: '\e91e';
    font-family: 'icomoon';
    margin-left: 6px;
}
.content{
    display: flex;
    margin-top: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.content img{
    width: 290px;
    height: 458px;
    padding: 0 10px;
    margin-top: 1px;
}
.content img:hover{
    border: 1px solid #c81623;
}
