
.header_logo{
    position: relative;
    height: 84px;
    border-bottom: 2px solid #e60012;
}
.logo{
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.register_content{
    height: 522px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    margin-top: 10px;
}
.register_titile{
    height: 40px;
    line-height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #b0b0b0;
    padding: 0 10px;
    color: #000000;
}
.register_titile span:nth-child(1){
    font-size: 18px;
}
.register_titile span:nth-child(2){
    font-size: 14px;
}
.register_titile a{
    color: #e60012;
}
.register_titile a {
    color: #e60012;
}
.reg_form{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*background-color: red;*/
}

.reg_form ul li{
    margin-top: 20px;
}
.reg_form ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li .inp{
    height: 37px;
    width: 260px;
    line-height: 35px;
    border: 1px solid #ccc;
}
.anquan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 10px;
}
.anquan span{
    margin-right: 5px;
}
.anquan span:nth-child(n+2){
    height: 15px;
    width: 30px;
    line-height: 15px;
    text-align: center;
    color: white;
}
.check{
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}
.register_btn{
    margin-top: 20px;
    height: 40px;
    width: 200px;
    color: white;
    background-color: #c81623;
    border-radius: 5px;
    margin-right: 60px;
}
.error{
    color: #c81523;
}
.error_icon{
    display: inline-block;
    vertical-align: middle;
    margin: auto 5px;
    width: 20px;
    height: 20px;
    background: url("../images/error.png") no-repeat;

}

.success{
    color: green;
}
.success_icon{
    display: inline-block;
    vertical-align: middle;
    margin: auto 5px;
    width: 20px;
    height: 20px;
    background: url("../images/success.png") no-repeat;

}

